/* esto es un comentario*/

body{
    background-color: rgb(42, 165, 165);
}

.pDiferente{
    color: blueviolet;
}
.hol{
    color: #884ea0;
}
.colorRGB{
   color: rgb(245, 160, 10);
   padding: 20%;
   margin-top: 50%;
}
.colorRGBA{
    width: 50%;
 background-color: rgba(11, 60, 8, 0.5);
}
.divHLS{
    width: 50%;
    background-color: hsl(200, 100%, 50%);
    padding: 20%;
    margin-top: 50%;
}